@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-geng-gold text-white px-4 py-2 rounded-md hover:bg-opacity-90 transition-colors;
  }
}
